<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand" ui-sref="site.home">h1 designs</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="text-decoration:none;" ui-sref="site.home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="text-decoration:none;" ui-sref="site.wall">wall</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="text-decoration:none;" href="#">sick hobbies</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="text-decoration:none;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    media
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" ui-sref="site.media">visual</a>
                    <a class="dropdown-item" ui-sref="site.media.audiovisual">audio visual</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- ANGULAR DYNAMIC CONTENT -->
<div ui-view="content"></div>